body{
    background-image: url("images/tableauV.png");
    background-size: cover;
    color: white;
    text-align: center;
}

.carte img {
    height: 72vh; /* 1080 * 15 */
    width: 128vh; /* 1920 * 15 */
}

.texte {
    padding: 25px;
}