body{
    background-image: url("images/tableauV.png");
    /* le size : cover fait planté l'image */
}

.acteur-item {
    margin: 50px;
}

.resume{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}