@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body{
    background-image: url("images/tableauV.png");
    background-size: cover;
}

.intro{
    padding: 30px;
}

.intro p{
    color: white;
    position: relative;
    font-family: "Walter Turncoat", cursive;;
}

.nous img{
    /*padding: 15px;*/
    width: 80%;
}

.nous {
    padding: 15px;
}

.tete{
    display: flex;
    justify-content: center;
    padding: 10px;
}
