@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);


body{
    background-image: url("images/tableauV.png");
    /*background-size: cover;*/
}

.glossaire-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

dl {
    margin-top: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 20px;
}

body {
    color: white;
    font-family: "Walter Turncoat", cursive;;
}

.motscroisés{
    display: flex;
    justify-content: center;
}

.motscroisés img{
    margin: 20px;
    max-width : 65%;
    height : auto;
}