body{
    background-image: url("images/tableauV.png");
    background-size: cover;
}


.rapport-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.rapport-content h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.rapport-content p {
    text-align: justify;
    margin-bottom: 20px;
}

p{
    color: white;
    text-align: center;
}

h1 {
    color: white;
}

.center {
    text-align: center;
}
a.download-link {
    text-decoration: underline;
    color: dodgerblue; /* Couleur typique des liens pour indiquer la cliquabilité */
}